@charset "UTF-8";

/*로그인*/
div.login_m {margin-top: 20px; overflow: hidden; background-color: #f1f1f1; }
div.login_m .lo_wp {overflow: hidden; width: 60%; margin: 50px auto;}
div.login_m .lo_wp .lg_wrap {float: left; width: 77%;}
div.login_m .lo_wp .lg_wrap p.id span.in_id, div.login_m .lo_wp .lg_wrap p.pw span.in_ps {width:18%; line-height: 35px; display: inline-block;}
div.login_m .lo_wp .lg_wrap input {width: 73%; height: 35px; margin: 0 0 10px 10px; padding: 0 0 0 5px; background: #fff; border-top: 1px solid #c2c2c2; border-left: 1px solid #c2c2c2; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd;}
div.login_m .lo_wp p.login {float: right; }

div.login_f	{border-bottom: 1px solid #b1b1b1; padding-top: 30px; text-align: center;}
div.login_f	.f_wrap{width:62%; padding: 10px 0 40px 0; margin: 0 auto; overflow: hidden;}
div.login_f	.f_wrap	.se, div.login_f .f_wrap .jo {text-align: left; display: inline-block;}
div.login_f	.f_wrap	.se	p.search_id	{padding: 0 30px 12px 0; color:#777;}
div.login_f	.f_wrap	.se	a.se_id {padding: 8px 31px 10px 11px; cursor: pointer; color: #666; border: 1px solid #d5d5d5;}
div.login_f	.f_wrap	.jo p.join {padding:0 0 12px 0; color:#777;}

/*회원가입*/
.agree_box {border: 1px solid #ccc; padding:15px; max-height: 234px; overflow:auto; color: #666; font-weight: 300;}
.agree_box .big_title {font-size: 1.7rem; color: #ff8134; width: 100%; padding-top:10px }
.agree_box .first_title {padding: 10px 0; font-size: 1.5rem; font-weight: 400; color: #464646;  width: 100%;}
.agree_box>ul>li {padding: 3px 0;}
.agree_box p {padding: 8px 0;}


.certification {width: 100%; overflow: hidden;}
.certification ul { display: inline-block;text-align: center;}
.certification ul li {background: #f1f1f1; width: 48%; margin-left: 4%; float: left; min-height: 336px; padding: 30px;}
.certification li:first-child {margin-left: 0}
.certification ul li dl>dt {font-size: 2rem; font-weight: 500; padding: 20px 0;}
.certification ul li dl>dd {color: #888; min-height: 110px; font-weight: 400}
.certification ul li.phon::before {content:''; display:block; position:relative; width:100px; height:80px; margin-left:-50px; top:0; left:50%; background: #f1f1f1 url("../images/icon/icon-phon.png") no-repeat center top;}
.certification ul li.ipin::before {content:''; display:block; position:relative; width:100px; height:80px; margin-left:-50px; top:0; left:50%; background: #f1f1f1 url("../images/icon/icon-ipin.png") no-repeat center top;}

@media only screen and (max-width: 760px) {
    /*로그인*/
    div.login_m	{background: #fff; border-bottom: 1px solid #ddd;}
    div.login_m .lo_wp {overflow:hidden; width:290px; padding:0 15px 30px; margin:0 auto}
    div.login_m .lo_wp .lg_wrap {float:left; width: 100%;}
    div.login_m .lo_wp .lg_wrap p.id span.in_id, div.login_m .lo_wp .lg_wrap p.pw span.in_ps {width: 60px; line-height: 35px; display: inline-block;}
    
    div.login_f	.f_wrap	{width: 100%; display: inline-block; text-align: center;}   
    div.login_f	.f_wrap	.jo p.join, div.login_f	.f_wrap	.se	p.search_id	{display: none}
    div.login_f {background-color: #f1f1f1; border-bottom: none; }
    div.login_f	.f_wrap	{width: 100%;}
    /*회원가입*/  
    .certification ul li {background: #f1f1f1; width: 100%; margin-bottom: 4%; margin-left: 0;  min-height: 336px; padding: 30px;}
    table.type_ta01 span {clear: both; display: block; width: 100%; }
    table.type_ta01 tbody span .ml10 {margin-left: 0px;}
  
}

/* =======================================*/
/* 로그인버튼 스타일
/* =======================================*/
.login-btn-size {min-width: 80px; width: 22%; height: 80px; padding: 20px 0;}
@media only screen and (max-width: 760px) {
.login-btn-size {width: 100%; height: 40px; padding: 0px 0px;}
}

/* =======================================*/
/* 스탭박스 스타일
/* =======================================*/
/*------- step3 -------*/
.step_box {width: 100%; margin: 20px 0 40px 0; text-align: center}
.step_box ol li {display: inline-block; width: 30.69%; margin-right: 10px; padding: 10px 0; }
.step_box ol li:last-child {margin-right: 0; }
.step_box dl {padding: 10px 0; border: 1px solid #5f7a8f;}
.step_box dt {color:#5f7a8f; font-size: 3rem; font-weight: 400; text-align: center;}
.step_box dd {padding: 10px 0 0 0; font-size: 2rem; text-align: center;}
.step_box li.on dt,.step_box li.on dd,.step_box li.on dl { background: #5f7a8f; color: #fff; padding: 5px;}
@media only screen and (max-width: 760px) {
    .step_box dl {padding: 5px;}
    .step_box ol li {display: inline-block; width: 100%; padding: 1px 0;}
    .step_box dt {display: inline-block; font-size: 2rem; font-weight: 400; text-align: center;}
    .step_box dd {display: inline-block; padding: 5px 0 0 0; font-size: 2rem; text-align: center;}   
}

/* =======================================*/
/* 블릿 스타일
/* =======================================*/
.title_sub_list {margin: 20px 0 5px; padding-left: 16px; background: url(../images/common/bullet_1.png) no-repeat 0 9px; font-size: 1.8rem; font-weight: 500; color: #333; line-height: 27px;}
.list_square_black {margin-top: 4px;}
.list_square_black > li {padding-left: 11px; background: url(../images/common/bullet_content.png) no-repeat 2px 10px; line-height: 24px;}
.list_square_black > li > ul {margin-top: 5px;}
.list_square_black .txt_blue {color: #3466a2;}
.list_square_black .txt_orange {color: #cf4b3a; font-size: 13px;}
.list_square_black.bold li {font-weight: 700;}
.list_minus_gray {margin-top: 5px;}
.list_minus_gray.last {margin-bottom: 5px;}
.list_minus_gray > li {position: relative; padding-left: 10px; font-size: 1.3rem; color: #888;line-height: 19px;}
.list_minus_gray > li:before {position: absolute; top:0; left:0; color: #464646; content: '-';}
.list_minus_gray > li > ul {margin-top: 5px;}


/* =======================================*/
/* 설명박스 스타일
/* =======================================*/
.explan {color: #888; border-top: 1px solid #e5e6e6;border-bottom: 1px solid #e5e6e6;background: transparent url(../images/common/bg_dashed01.png) repeat;padding: 20px;}


/* =======================================*/
/* 테이블 스타일
/* =======================================*/
table.type_ta01{width:100%;  border-top:2px solid #999999;} 
table.type_ta01 thead th {background: #f7f7f7; color:#333; letter-spacing:-0.5pt; padding:13px 0; text-align: center; font-weight: 500; border-bottom: 1px solid #dedede; line-height: 1.6rem;}
table.type_ta01 tbody th {text-align:left; background:#f7f7f7; padding:21px 10px; color:#333; line-height: 1.6rem; border-bottom: 1px solid #dedfe2; }
table.type_ta01 tbody th.c {text-align: center;}
table.type_ta01 tbody td {padding: 13px; color: #464646; border-bottom: 1px solid #dedfe2;}
table.type_ta01 tbody .pt10 {padding-top: 10px;}
table.type_ta01 tbody span.orange{color: #ff8134; font-weight: 300;}
table.type_ta01 tbody span.gray{color: #888; font-weight: 300;}
